.input-group{
    margin-top: 36px;
}

.input-group input, textarea{
    background-color: #fff;
    border: 1px solid #000;
    min-height: 48px;
    box-sizing: border-box;
    color: #000;
    font-size : 1rem;
    width : 100%;
}

.input-group label{
    display: inline-block;
    cursor: pointer;
    font-size: .8125rem;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 12px;
    float: left;
}

.error{
    color: red;
    font-size: 1rem;
    display: inherit;
    text-align: left;
}

.form-success{
    color: green;
}

.form-error{
    color: red;
}

.submit{
    margin-top: 36px;
    font-size: 1rem;
    padding: 0.75em 1em;
    width: 144px;
    min-height: 48px;
    border: 2px solid #1F40E6;
    cursor: pointer;
    background-color: #1F40E6;
    color: #fff;
}

.bold{
    font-weight: bold;
    width: 200px;
    display: inline-block;
}